include ../partials/removeButton.pug

mixin movieCard(movie)
    - const poster = `https://image.tmdb.org/t/p/original/${movie.poster_path}`
    - const releaseYear = movie.release_date.substring(0,4)
    
    .ui.centered.card
        .image
            img(src=poster)
        .card-content
            h2.title-submit= `${movie.title} (${releaseYear})`
            form#CreateForm(action=(`/movies`), method="POST")
                if movie._id
                    input(type="hidden" name="movie[_id]", required, value=(movie._id))
                input(type="hidden" name="movie[tmdb_id]", required, value=(movie.id))
                input(type="hidden" name="movie[title]", required, value=(movie.title))
                input(type="hidden" name="movie[poster_path]", required, value=(movie.poster_path))
                input(type="hidden" name="movie[release_date]", required, value=(movie.release_date))
                input(type="hidden" name="movie[overview]", required, value=(movie.overview))

                button(type="submit")= `${movie.title} (${releaseYear})`
            
            if movie._id
                +removeButton(movie, path)
