extends ../layouts/main.pug
include ../partials/destroyForm.pug

block content
  .ui.container
    header
      h1= title

    .ui.container
      table.ui.celled.padded.table
        thead
          tr
            th Movie
            th Rating
            th Actions
        
        tbody
          each movie in movies
            tr
              td
                - const poster = `https://image.tmdb.org/t/p/original/${movie.poster_path}`
                img.ui.top.aligned.tiny.image(src=poster)
                a(href=`/movies/${movie.id}`)= movie.title
              td
                .ui.heart.rating(data-rating=movie.rating, data-max-rating="5")
              td
                a(href=`/movies/${movie.id}/edit`) Edit
                  = " | "
                  +destroyForm(movie)

