extends ../layouts/main.pug
include ../partials/deleteUser.pug
include ../partials/editUser.pug


block content
    #AccountContainer.ui.container
        #AccountForm
            .avatar-container
                .avatar-image-container
                    if profilePicture
                        img.avatar-image(src=`data:image/jpeg;base64, ${profilePicture}`)
                    else
                        img.avatar-image(src="/images/pink-blue-circle.svg")
            h1= `Welcome, ${user.username}!`
            .account-information
                .ui.top.attached.tabular.menu
                    .item.active(data-tab="profile") Profile
                    .item(data-tab="edit-profile") Edit Profile
                    .item(data-tab="profile-picture") Profile Picture
                    .item(data-tab="delete-account") Delete Account
                .ui.bottom.attached.segment
                    .ui.tab(data-tab="profile")
                        .flex-column.full-height
                            .flex-two-middle
                                .flex-two-middle-row
                                    h4.ui.header First Name
                                    p= user.firstName
                                .flex-two-middle-row
                                    h4.ui.header Last Name
                                    p= user.lastName
                                .flex-two-middle-row
                                    h4.ui.header E-mail
                                    p= user.email
                                .flex-two-middle-row
                                    h4.ui.header Member Since
                                    p= user.joinDate
                            p.footnote= `Profile last updated on ${user.lastUpdateDate}`
                    .ui.tab(data-tab="edit-profile")
                        .flex-column.full-height
                            +editUser(user)
                    .ui.tab(data-tab="profile-picture")
                        .flex-column.full-height
                            form#ProfilePictureForm.ui.form(action="/users/update" , enctype="multipart/form-data", method="POST")
                                input(type="hidden", name="id", value=user.id)
                                .avatar-small-container
                                    if profilePicture
                                        img.avatar-image-small(src=`data:image/jpeg;base64, ${profilePicture}`)
                                    else
                                        img.avatar-image-small(src="/images/pink-blue-circle.svg")
                                .flex-column.full-height.space-around
                                    .field
                                        label Upload Profile Picture
                                        input#ProfilePictureInput(type="file", name="user[profilePicture]", required, accept="image/png, image/jpeg")
                                    .actions
                                        button#ProfilePictureSubmit.ui.button.bg-red(type="submit") Submit
                            p.footnote Images must be PNG, JPEG or JPG and must be less than 1MB in size
                    .ui.tab(data-tab="delete-account")
                        .flex-one-middle
                            h3.header WARNING: Deleting your account is permanent and cannot be undone!
                            +deleteUser(user)

            